title{
    margin-left:20px;
    color:black;
}
body {
    background: #DCDCDC;
    margin-left: 100px;
    margin-right: 100px;
}
nav {
    background:rgba(56, 53, 53, 0.774);
    margin-left:10px;
}
nav ol li{
    display: inline;
    font-size: 20px;
}
header{
    margin-top:20px;
}
h1{
    color:red;
    font-family:fantasy;
    margin-left:20px;
}
h2{
    font-family:fantasy;
}
p{
    font-size:18px;
    color: white;
}
.img_padrao{
    max-width:300px;
    margin-bottom: 20px;
}
.logo{
    width: 30px;
}
.footer{
    margin-bottom: 30px;
}